@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
	
	var background = Model.Value<IPublishedContent>("zdjecieTla");
	if (background != null)
    {
         @background.Url
    }
    
    var logo = Model.Value<IPublishedContent>("logo");
    if (logo != null)
    {
         @logo.Url
    }
}

    
    <style>
  body{
  background: url("@background.Url") no-repeat center center fixed !important; 
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
 }
    </style>
  </head>


  <body>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(186, 113, 204, 0.8) 61%);">
        <a class="navbar-brand animate__animated animate__fadeInDown" href="#">
          <img src="@logo.Url" width="150" height="50" alt="Emi-Center Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarText" style="font-family: 'Josefin Sans', sans-serif;">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active animate__animated animate__fadeInDown">
                <a class="nav-link" href="../">Strona główna <span class="sr-only">(current)</span></a>
              </li>
              <li data-toggle="collapse" data-target="#cennik" aria-expanded="false" aria-controls="cennik" class="nav-item dropdown animate__animated animate__fadeInDown">
                <a class="nav-link" href="#cennik">Cennik</a>
              </li>
                <div id="cennik" class="collapse">
                  <li class="nav-item animate__animated animate__fadeInDown">
                  <a class="nav-link" href="../cennik-pielegnacja-dloni-i-paznokci/">Pielęgnacja dłoni i paznokci</a>
                </li>
                <li class="nav-item animate__animated animate__fadeInDown">
                  <a class="nav-link" href="../cennik-podologia/">Podologia</a>
                </li>
                <li class="nav-item animate__animated animate__fadeInDown">
                  <a class="nav-link" href="../cennik-masaz-i-pielegnacja-ciala/">Masaż i pielęgnacja ciała</a>
                </li>
                <li class="nav-item animate__animated animate__fadeInDown">
                  <a class="nav-link" href="../cennik-kosmetyka/">Kosmetyka</a>
                </li>
                <li class="nav-item animate__animated animate__fadeInDown">
                  <a class="nav-link" href="../cennik-chirurgia/">Chirurgia</a>
                </li>
                </div>
              <li class="nav-item  animate__animated animate__fadeInDown">
                <a class="nav-link" href="../galeria/">Galeria</a>
              </li>
              <li class="nav-item  animate__animated animate__fadeInDown">
                  <a class="nav-link" href="#contact">Kontakt</a>
                </li>
            </ul>
          </div>
        </nav>

          <!-- Main section -->
    <section class="showcase position-relative top-margin center-main">
      <div class="container-fluid p-0">
        <div class="row no-gutters position-relative section" id='section-1' >

          <div class="col-lg-4 position-relative"></div>
          <div class="col-lg-4 position-relative bg-black animate__animated animate__bounceInLeft animate__delay-1s">
            <h1 class="text-center" style="font-size: calc(2.5rem + 1vw);">@Model.Value("tytulH1")</h1>
            <p class="text-center" style="font-size: calc(0.9rem + 1vw);">@Model.Value("tytulCenter")</p>
          </div>
          <div class="col-lg-4 position-relative"></div>
        </div>
    
      </div>
    </section>
    <section class="showcase position-relative top-margin center-main">

    </section>
    <section class="showcase position-relative top-margin center-main">
      
    </section>
